<div id="<%= dom_id investor %>">
  <p>
    <strong>First name:</strong>
    <%= investor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= investor.last_name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= investor.dob %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= investor.phone %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= investor.street_address %>
  </p>

  <p>
    <strong>State:</strong>
    <%= investor.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= investor.zip %>
  </p>

</div>
